:root {
	--mkEnche: rgb(58, 0, 112);
	--mkVazio: #00ff00;
	--mkTrans: #00000000;
}

.timerMkOut {
	display: flex;
	width: 90px;
	height: 90px;
	border: 1px solid var(--mkVazio);
	border-radius: 50%;
	background: var(--mkVazio);
	margin: auto;
	align-items: center;
	justify-content: center;
	position: relative;
	color: blue;
	overflow: hidden;
}

.timerMkIn {
	position: absolute;
	z-index: 4;
	padding: 4rem;
	border: 1px solid black;
	border-radius: 0px;
	background: var(--mkVazio);
	background: linear-gradient(to right, var(--mkVazio) 50%, var(--mkTrans) 50%);
}

.timerMkIn::before {
	content: "";
	position: absolute;
	z-index: 3;
	padding: 4rem;
	top: 0;
	left: 0;
	background: var(--mkVazio);
	background: linear-gradient(
		to right,
		var(--mkEnche) 50%,
		/* #0000ffff 50%, */ #ff000000 50%
	);
	animation: cargaGirar 5s linear infinite;
}

.timerMkIn::after {
	content: "";
	position: absolute;
	z-index: 5;
	padding: 4rem;
	top: 0;
	left: 0;
	background: lime;
	animation: inverter 5s linear infinite;
}

@keyframes cargaGirar {
	to {
		transform: rotate(360deg);
	}
}
@keyframes inverter {
	0% {
		background: linear-gradient(to right, var(--mkVazio) 50%, #ff000000 50%);
	}
	100% {
		background: linear-gradient(
			to right,
			var(--mkTrans) 50%,
			var(--mkEnche) 50%
		);
	}
}
