/* DIVs AGRUPADAS */
.mkSeletorBloco {
	--FundoSeletor: #070;
	--BordaItens: #000;
	--FundoItens: #fff;
	--FundoItensHover: linear-gradient(
		0.25turn,
		var(--FundoSeletor),
		transparent
	);
	--CorItensHover: #000;
	--CorItens: var(--BordaItens);
	--FlexinhaFora: white;
	--FlexinhaDentro: var(--FundoSeletor);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* BOTAO e SELECIONADO */
.mkSeletorExibe {
	background-color: var(--FundoSeletor);
	border-radius: 5px;

	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	padding: 0px 0px 0px 2px;
	text-decoration: none;
	font-weight: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.mkSeletorExibeSelecionado {
	width: 100%;
}

.mkSeletorExibeFlexinha {
	position: sticky;
	content: "\A0";
	right: 12px;
	width: 1px;
	height: 1px;
	border: 0px solid transparent;
	border-radius: 50%;
}
.mkSeletorExibeFlexinha::after {
	content: "";
	position: absolute;
	top: 1px;
	border: 5px solid transparent;
	border-left: 5px solid var(--FlexinhaDentro);
	border-bottom: 5px solid var(--FlexinhaDentro);
	border-radius: 2px;
	transform: rotate(-45deg) scale(0.5);
}
.mkSeletorExibeFlexinha::before {
	content: "";
	position: absolute;
	top: 1px;
	border: 5px solid transparent;
	border-left: 5px solid var(--FlexinhaFora);
	border-bottom: 5px solid var(--FlexinhaFora);
	border-radius: 3px;
	transform: rotate(-45deg) scale(0.7);
}

.mkSeletorExibeFlexinha2 {
	position: sticky;
	content: "\A0";
	right: 12px;
	width: 1px;
	height: 1px;
	border: 0px solid transparent;
	border-radius: 50%;
}
.mkSeletorExibeFlexinha2::after {
	content: "";
	position: absolute;
	top: 6px;
	border: 5px solid transparent;
	border-right: 5px solid var(--FlexinhaDentro);
	border-top: 5px solid var(--FlexinhaDentro);
	border-radius: 2px;
	transform: rotate(-45deg) scale(0.5);
}
.mkSeletorExibeFlexinha2::before {
	content: "";
	position: absolute;
	top: 6px;
	border: 5px solid transparent;
	border-right: 5px solid var(--FlexinhaFora);
	border-top: 5px solid var(--FlexinhaFora);
	border-radius: 3px;
	transform: rotate(-45deg) scale(0.7);
}

/* .mkSeletorBloco:has(.mkSeletorExibe:focus) .mkSeletorList {
	display: flex;
} */

/* DROP DOWN */
.mkSeletorList {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: +9000;
	text-align: left;
	background: var(--FundoItens);
	color: var(--CorItens);
	border: 1px solid var(--BordaItens);
	border-radius: 5px;
	cursor: pointer;
}
.mkSeletorItem {
	padding: 0px 0px 0px 1px;
	border-radius: 3px;
}
.mkSeletorItem:hover {
	background: var(--FundoItensHover);
}

/* HIDE */
.mkSecreto {
	width: 1px;
	min-width: 0px;
	max-width: 1px;
	height: 1px;
	min-height: 0px;
	max-height: 1px;
	border: 0px;
	overflow: hidden;
	margin: 0px;
	margin-bottom: -2px;
	opacity: 0%;
	z-index: -1;
}
