input.mkSeletor {
	border: 1px solid yellow;
	color: black;
}

.mkSeletorBloco {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mkSeletorExibe {
	background-color: yellow;
	margin-top: 2px;

	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	padding: 0px;
	text-decoration: none;
	font-weight: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.mkSeletorExibeSelecionado {
	width: 100%;
	background-color: red;
}
.mkSeletorExibeFlexinha {
	background-color: blue;
}

.mkSecreto {
	width: 1px;
	min-width: 0px;
	max-width: 1px;
	height: 1px;
	min-height: 0px;
	max-height: 1px;
	border: 0px;
	overflow: hidden;
	margin: 0px;
	margin-bottom: -2px;
	opacity: 0%;
	z-index: -1;
}
